<!DOCTYPE html>
  <body>
    <h1>Log In Below:</h1>
    <form action='/sessions' method='post'>
      <p><label>Email: </label><input type='text' id='email' name='email'></p>
      <p><label>Password: </label><input type='text' id='password' name='password'></p>
      <p><input type='submit' id='Log In'></p>
    </form>
  </body>
</html>