<h1>Log In Below:</h1>

<form action="/sessions" method="post">
   <p>Your Email Address: <input type="text" id="email" name="email"></p>
  <p>Your Password: <input type="text" id="password" name="password"></p>
  <input type="submit" id="Log In" value="Log In">
</form>

