<!DOCTYPE html>
  <body>
    <h1>Sign Up Below:</h1>
    <form action='/registrations' method='post'>
      <p><label>Name: </label><input id='name' type='text' name='name'></p>
      <p><label>Email: </label><input id='email' type='text' name='email'></p>
      <p><label>Password: </label><input id='password' type='text' name='password'></p>
      <p><input id='Sign Up' type='submit'></p>
    </form>
  </body>
<html>