<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <Label for='name'> Name:</label>
    <input type='text' id='name' name='name'>
  <Label for='email'> email:</label>
    <input type='text' id='email' name='email'>
  <Label for='password'> Password:</label>
    <input type='text' id='password' name='password'>
<button type="submit"> Sign Up </button>
</form>
