
  <form action="/registrations" method="post">
    <h1>Sign Up Below:</h1>
    <label for="name"> Full Name </label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="email"> Email Address </label><br>
    <input type="text" id="email" name="email"></input><br><br>
    <label for="password"> Password </label><br>
    <input type="password" id="password" name="password"></input><br><br>
    <input type="submit" value="Sign Up">
  </form>
